/*
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
*/
/* create variables to change*/
:root {
  --main-bg-color: #F1F1F3;
}

*{
	background-color: white;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 6vh;
	background-color: var(--main-bg-color);
	font-family: 'Open Sans', sans-serif;
}

.header{
	background-color: var(--main-bg-color);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}
.header a{
	background-color: var(--main-bg-color);
	text-decoration: none;
	color: black;
	letter-spacing: 5px;
	font-size: 15px;
	font-weight: lighter;
}
.header a:hover{
	text-decoration: none;
	text-decoration-color: cornflowerblue;
}
.nav-links{
	display: flex;
	justify-content: space-around;
	background-color: var(--main-bg-color);
	width: 40%;
}
.nav-links li{
	list-style: none;
	background-color: var(--main-bg-color);
}
.nav-links a{
	color: black;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: lighter;
	font-size: 14px;
	cursor: pointer;
	background-color: var(--main-bg-color);
	/*used to increase clickable area of links*/
	display: inline-block;     
	position: relative;    
	z-index: 1;     
	padding: 1em;     
	margin: -1em;
}
.nav-links a:hover{
	text-decoration: underline;
	text-decoration-color: black;
	 /* #F55D3E; */
}
.dropdown{
	position: relative;
	display: inline-block;
	background-color: var(--main-bg-color);
	
}
.dropdown-content{
	display: none;
	position: fixed;
	min-width: 50px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	padding: 2px 2px;
  	z-index: 1;
	
}
/* Links inside the dropdown */
.dropdown-content a {
	padding: 6px 8px;
	background-color: white;
	text-decoration: none;
	display: block;
	letter-spacing: 3px;
	line-height: 15px;
}
.dropdown:hover .dropdown-content {
 	display: block;
}
.burger{
	display: none;
	background-color: var(--main-bg-color);
}
.burger div{
	width: 27px;
	height: 3px;
	margin: 5px;
	background-color: black;
}
mobile-menu{
	
	display: none;
}
/* For the side list */
sidenav{
	height 100%;
	width: 15%;
	margin-top: 28px;
	position: fixed;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
}
.sidenav-header{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.sidenav-links li{
	list-style: none;	
}
.sidenav-links a{
	color: black;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	line-height: 30px;
}
.sidenav-links a:hover{
	text-decoration: underline;
	text-decoration-color: black;
}
/* main layout */
main{
	margin-left: 20%;
	margin-right: 20%;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;	
}
	main h1{
		font-size: 23px;
		line-height: 20px;
		text-transform: uppercase;
		text-align: center;
	}
	main h2{
		font-size: 20px;
		line-height: 10px;
		text-transform: uppercase;
		margin-top: 35px;
	}
	main a{
		color: black;
		font-size: 15px;
		line-height: 30px;
		letter-spacing: inherit;
		text-decoration: underline;
	}
	main a:hover{
		color: blue;
	}
	main p{
		font-size: 15px;
	}
.horz_line{
	width: 100%;
	height: 2px;
	background-color: black;
	margin: 0px;
}
/*Three column*/
.columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	flex: 1 1 0px;
}
/*Used for the navigation bar at the top of each page */
.page_nav{
	font-size: 15px;
	font-style: italic;
	letter-spacing: 2px;
	line-height: 35px;
}
	.page_nav a{
		text-decoration: none;
	}


/*Used for the contact_comment box*/
.request_information{
	display:flex;
	flex-direction: column;
	text-align:center;
	width: 50%;
	margin-left: 250px;
}
.request_information label{
	color: black;
	background-color: white;
}
/*use for createing a columned list*/
.table_list_3col{
	
}


/* responsive images*/
.imag_left{
	float:left;
	margin: 0px 20px 0px 0px;
}
.responsive-iframe {
	float: center;
	width: 100%;
	height: 420px;
	margin: 5px 5px 5px 5px;
}
.responsive {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin: 5px 5px 5px 5px;
}
/* .list is for the calculator list */
.list{
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
}
.calculator{
	display: flex;
	flex-direction: row;
}

.flex-left {
	width: 50%;
	height: auto;
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	background-color: var(--main-bg-color);
}
.flex-right {
	width: 50%;
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	background-color: #F1F1F3;
}
label{
	color: crimson;
	background-color: #F1F1F3;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 27px;
}
/* end of calculator */
footer{
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 0; 
}
footer p{
    margin: 3px;
}

/* media scrren with 1227px */
@media screen and (max-width: 1227px){
	.nav-links{
	width: 65%;
	}
	sidenav{
		display: none;
	}
}

/* media scrren with 730px */
@media screen and (max-width: 989px){
	
	.header a{
		background-color: var(--main-bg-color);
		text-decoration: none;
		color: black;
		letter-spacing: 7px;
		font-size: 15px;
		font-weight: lighter;
	}
	.nav-links{
		display: none;
		position: absolute;
		right: 10px;
		height: 92vh;
		top: 8vh;
		background-color: cornflowerblue;
		flex-direction: column;
		align-items: center;
		width: 35%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
		cursor: pointer;
	}
	/* display: none; for mobile */
	mobile-menu{
		display: none;
		text-align: right;
		padding: 1px;
		margin-top: 10px;
		margin-left: 5%;
		margin-right: 5%;
		background-color: black;
		font-family: 'Open Sans', sans-serif;
	}
	mobile-menu a{
		display: block;
		font-size: 23px;
		text-decoration: none;
		color: black;
		padding: 0px 50px 0px 0px;
		letter-spacing: 3px;
		line-height: 50px;
		background-color: var(--main-bg-color);
	}
	mobile-menu a:hover{
		color: cornflowerblue;
	}
	/* main layout code*/
	main{
		margin-left: 5%;
		margin-right: 5%;
		font-family: 'Open Sans', sans-serif;
		line-height: 24px;
	}
	main h1{
		line-height: 8px;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
	}
	main h2{
		line-height: 10px;
		font-size: 18px;
		text-transform: uppercase;
	}
	main a{
		line-height: 35px;
		font-size: 15px;
		letter-spacing: inherit;
		text-decoration: underline;
	}
	/* Page navigation bar */
	.page_nav{
	font-size: 15px;
	font-style: italic;
	letter-spacing: 1px;
	line-height: 35px;
	}
	.page_nav a{
		text-decoration: none;
	}
	.imag_left{
		display: flex;
		justify-content: center;
	}
	.responsive-iframe {
		width: 100%;
		height: 350px;
	}
	/* .list is for the calculator list */
	.list{
		font-family: 'Open Sans', sans-serif;
		line-height: 24px;
	}
	.calculator{
		display: flex;
		flex-direction: row;
	}

	.flex-left {
		width: 70%;
		height: auto;
		margin: 5px;
		padding: 5px;
		border: 2px solid black;
		background-color: var(--main-bg-color);
	}
	.flex-right {
		width: 100%;
		margin: 5px;
		padding: 5px;
		border: 2px solid black;
		background-color: var(--main-bg-color);
	}
	label{
		color: crimson;
		background-color: var(--main-bg-color);
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		line-height: 27px;
	}
	/* end of calculator */
}

