
.clearfix {
    overflow: auto;
}
html, body {
    width: auto;
    height: 100%;
}

.grid-wrapper {
	
	display: grid;
    grid-template-columns: 150px repeat(4, 1fr);
	height: 100%;
	
}
.header {
    background-color:  #329DBD; /* #2196F3 */
    text-align: right;
    font-size: 20px;
    padding: 13px;
    color: white;
}
.sidebar {
	display: inline-flex;
    height: auto;
    background-color: #878E88; /* #ffcdd2 */
    overflow: none;
	grid-column: 1;
	flex-direction: column;
	justify-content: flex-start;
	grid-row: 1;
}
.content {
	background-color: gainsboro; /* #508991 */
    height: auto;
	grid-column: 2 / end;
	grid-row: 1/end;
	padding: 50px 75px 50px 75px
}

.flex-links{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex-links button{
	background-color: #F55D3E;/* Green background */
	display: inline-block;
    border: 0px solid white;
    margin: 5px 0px 0px 0px;
    color: white; /* White text */
    padding: 12px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 8px;
}
.flex-links button:hover{
	background-color:  #329DBD;
}

.flex-container {
 	display: flex;
	flex-direction: row;
	background-color: gainsboro;
}

.flex-container > div {
	margin: 4px;
	text-align: center;
	font-size: 15px;
 	width: auto;
}

.flex-container button{
    background-color:#F55D3E; /* Green background */
    border: 0px solid white;
    margin: 5px 0px 0px 0px;
    color: white; /* White text */
    padding: 15px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 135px; /* Set a width if needed */
	height: 57px;
    border-radius: 8px;
}

/* Add a background color on hover */
.flex-container button:hover {
    background-color:  #329DBD;
}

.flex-container img {
	display: inline-block;
	width: 100%;
	max-width: 550px; /*actual image width*/
	height: auto; /* maintain aspect ratio*/
	margin: auto; /*optional centering of image*/
	border-radius: 8px;
}

.indent{
	margin-left: 2.5em;
}

.info{
	margin: 5px 200px 5px 200px;
}
.footer{
	margin: 700px 50px 50px 50px;
	position: relative;
	text-align: center;
	bottom: 0px;
}

img{
	border-radius: 8px;
}

hr {
    border: none;
    height: 1px;
    color: #333; /* old IE #333 */
    background-color: #333; /* Modern Browsers */
}
h1 {
    font-size: 4em;
    margin: 0 0 0.5em 0;
    line-height: 1.3;
}
h2 {
    font-family: Arial;
    font-size: 1.75em;
    margin: 5px;
}
h3 {
    font-family: Arial;
    font-size: 1.25em;
    margin: 0px;
	display: inline-block;
}
h4 {
    font-family: Arial;
    font-size: 1.1em;
    margin: 0;
}
h5 {
    font-size: 0.9em;
}
h6 {
    font-size: 0.7em;
}
p{
	margin: 15px 0px 0px 0px;
}
/* LINKS */
a:link {
    text-decoration: none;
	color: #F55D3E;
}
a:visited {
    text-decoration: none;
	color: #F55D3E;
}
a:hover {
    text-decoration: none;
	color:#09A2FF;
}
a:active {
    text-decoration: none;
}
/* BUTTONS */
.btn-group button {
    background-color: #F55D3E;/* Green background */
    border: 0px solid white;
    margin: 5px 0px 0px 0px;
    color: white; /* White text */
    padding: 12px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 95%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    border-radius: 8px;
}
.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
/* Add a background color on hover */
.btn-group button:hover {
    background-color: #329DBD;
}

table, th, td {
  border: 1px solid black;
}
